@model IEnumerable<ContosoUniversity.ViewModels.EnrollmentDateGroup>

@{
    ViewBag.Title = "Student Body Statistics";
}

<h2>Student Body Statistics</h2>

<table>
    <tr>
        <th>
            Enrollment Date
        </th>
        <th>
            Students
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @*DisplayFor is used to display data formatted acording to the annotation on the property*@
                @*Shows only the date*@
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
                @*Shows the date with time*@
                @*@item.EnrollmentDate*@

            </td>
            <td>
                @item.StudentCount
            </td>
        </tr>
    }
</table>
